.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
}

.popup__input_type_error {
  border-bottom: 1px solid #F00;
}

.input__container {
  position: relative;
  margin-bottom: 10px;
}

.input__container:last-of-type {
  margin-bottom: 0;
}

.popup__error {
  position: absolute;
  left: 0;
  top: 50px;
  color: #F00;
  font-size: 12px;
  padding: 0;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
